<% if user_signed_in? %>
  <div class="under-add">Topics</div>
  <% @topics.each do |top| %>
    <div class="container-fluid">
      <label class="checkbox font-size-topics" for="checkbox1">
        <input type="checkbox" value="2" id="checkbox1" data-toggle="checkbox"><%= top.title %>
        <span class="right">
        <%= link_to top, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash change-size"></span>
        <% end %>
        </span>
      </label>
    </div>
  <% end %>
<% end %>
